@import "./variable";
@import "./mixin";
@font-face {
  font-family: "Mali";
  font-weight: normal;
  font-display: swap;
  src: local("Mali Regular"), local("Mali-Regular"),
    url("../../shared/assets/font/Mali/Mali-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-weight: bold;
  font-display: swap;
  src: local("Mali Bold"), local("Mali-Bold"),
    url("../../shared/assets/font/Mali/Mali-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-weight: 500;
  font-display: swap;
  src: local("Mali Medium"), local("Mali-Medium"),
    url("../../shared/assets/font/Mali/Mali-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Mali";
  font-weight: 300;
  font-display: swap;
  src: local("Mali Light"), local("Mali-Light"),
    url("../../shared/assets/font/Mali/Mali-Light.ttf") format("truetype");
}

html {
  font-size:10px;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-weight: normal;
  font-family: $main-font;
  color: $color-main-text;
  background-color: $color-background;
}
div#root {
  height: 100%;
  overflow: hidden;
  width: 100vw;
}

a,
a:hover {
  text-decoration: none;
  color: $color-main-text;
  transition: 0.2s;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-select {
  margin-right: 1vw;
}
.w-20{
  width: 20% !important;
}
.w-80{
  width: 80% !important;
}
