.rightfilter{
    .filter{
        .filter-dateS{
            .ant-picker{
               width: initial !important;
               margin-bottom: 2rem;
            }
        }
        .filter-dateE{
            .ant-picker{
               width: initial !important;
               height: 40px;
            }
        }
    }
    
}