@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-display: swap;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../../shared/assets/font/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../../shared/assets/font/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../../shared/assets/font/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-display: swap;
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../../shared/assets/font/Montserrat/Montserrat-Light.ttf") format("truetype");
}

html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-weight: normal;
  font-family: "Montserrat";
  color: #4F4C4D;
  background-color: #f5f5f5;
}

div#root {
  height: 100%;
  overflow: hidden;
  width: 100vw;
}

a,
a:hover {
  text-decoration: none;
  color: #4F4C4D;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-select {
  margin-right: 1vw;
}

.w-20 {
  width: 20% !important;
}

.w-80 {
  width: 80% !important;
}

@use "variable";
.main-title-breadcrumb__box {
  margin-bottom: 1.2rem;
  margin-top: 0.1rem;
}

.breadcrumb__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #000000;
}

.breadcrumb__box a {
  opacity: 0.8;
  font-weight: 500;
  color: #000000;
}

.breadcrumb__box .breadcrumb__li:first-child {
  padding-left: 0;
}

.breadcrumb__box .breadcrumb__last a {
  opacity: 1;
  color: #000000;
}

.breadcrumb__box .breadcrumb__icon .anticon svg {
  color: #000000;
  font-size: 2.1rem;
}

@use "variable";
.main-title {
  font-weight: bold;
  font-size: 3.2rem;
  color: #1E0D03;
  margin: 0;
  line-height: 3rem;
}

.secondary-title {
  font-size: 1.8rem;
  color: #000000;
  font-weight: 700;
  margin-top: 1rem;
}

@use "variable";
@use "mixin";
.search-label-default {
  color: #61C6E9;
  opacity: 0.8;
  font-weight: 500;
  font-size: 1.6rem;
}

.search-bar {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin-bottom: 1.6rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0rem 0rem 0.4rem #E3E3E3;
          box-shadow: 0rem 0rem 0.4rem #E3E3E3;
  margin-right: 2.4rem;
  border-radius: 0.8rem;
  height: 4.7rem;
}

.search-bar .ant-input-affix-wrapper,
.search-bar input {
  background: #ffffff !important;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.1rem 1.6rem;
  font-size: 1.4rem;
  width: 50rem;
  outline: none;
  border-radius: 0.8rem;
}

.search-bar .ant-input-affix-wrapper .ant-input-prefix svg,
.search-bar input .ant-input-prefix svg {
  color: #7B7979;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2.4rem;
}

.search-bar .ant-input-affix-wrapper .ant-input-suffix svg,
.search-bar input .ant-input-suffix svg {
  color: #d9d9d9;
  width: 17.6px;
  height: 17.6px;
  font-size: 2.4rem;
}

.search-bar .ant-input-affix-wrapper-focused,
.search-bar .ant-input-affix-wrapper:focus {
  -webkit-box-shadow: 0rem 0rem 0.4rem #61C6E9;
          box-shadow: 0rem 0rem 0.4rem #61C6E9;
}

.search-bar .icon-search {
  position: absolute;
  top: 50%;
  right: 1.6rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #7B7979;
}

.search-bar .icon-search svg {
  color: #61C6E9;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2.4rem;
}

@media screen and (max-width: 1500px) {
  input.form-search.ant-form-search {
    padding-right: 6.4rem;
    width: 30vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.to-right {
  float: right;
}

.to-left {
  float: left;
}

@use "variable";
.ant-btn-default:hover {
  border: 1px solid #FF993C !important;
  color: #FF993C !important;
}

.ant-btn,
button.ant-btn.normal-button,
.ant-modal-confirm-btns button.ant-btn,
button.ant-btn.cancel-button,
.normal-button,
.cancel-button {
  min-width: 15rem;
  min-height: 4.8rem;
  border-radius: 0.8rem;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 0;
  -webkit-transition: All 0.3s;
  transition: All 0.3s;
  border: 1px solid #FF993C !important;
  background: #61C6E9;
  color: #FF993C;
}

.ant-btn:hover,
button.ant-btn.normal-button:hover,
.ant-modal-confirm-btns button.ant-btn:hover,
button.ant-btn.cancel-button:hover,
.normal-button:hover,
.cancel-button:hover {
  background: #ffffff;
  border: 1px solid #FF993C !important;
  color: #FF993C !important;
}

.ant-btn:focus,
button.ant-btn.normal-button:focus,
.ant-modal-confirm-btns button.ant-btn:focus,
button.ant-btn.cancel-button:focus,
.normal-button:focus,
.cancel-button:focus {
  outline: none;
}

.delete-button {
  border: 1px solid #61C6E9 !important;
  color: #ffffff;
  color: #61C6E9;
}

button.ant-btn.disabled-button {
  min-width: 15rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  font-weight: bold;
  font-size: 1.8rem;
}

button.ant-btn.bg-custom-button {
  background-color: #61C6E9 !important;
  color: #ffffff !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 700;
  height: 4rem;
  border: none;
}

button.ant-btn.bg-custom-button:hover {
  opacity: 0.8;
}

.ant-btn,
button.ant-btn.cancel-button,
button.ant-btn.ant-btn-dangerous,
.cancel-button {
  background: #ffffff;
  color: #FF993C !important;
}

.ant-btn:hover,
button.ant-btn.cancel-button:hover,
button.ant-btn.ant-btn-dangerous:hover,
.cancel-button:hover {
  border: 1px solid #FF993C !important;
  color: #FF993C !important;
}

.ant-btn:focus,
button.ant-btn.cancel-button:focus,
button.ant-btn.ant-btn-dangerous:focus,
.cancel-button:focus {
  outline: none;
}

.button-center__box {
  text-align: center;
}

.ant-modal-confirm .ant-modal-confirm-btns .ant-btn + .ant-btn {
  background: #61C6E9;
  color: #ffffff;
}

.ant-modal-confirm .ant-modal-confirm-btns .ant-btn + .ant-btn:hover {
  border: 1px solid #FF993C !important;
  color: #FF993C !important;
}

.modal-delete-confirm .ant-modal-content .ant-modal-body .ant-modal-confirm-btns button:first-child:hover {
  border: 1px solid #FF993C !important;
  color: #FF993C !important;
}

@use "variable";
.search-in-table {
  margin-top: -7.1rem;
}

.card-main-table {
  background: #ffffff;
  border-radius: 1.2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-main-table .ant-badge-status-text {
  font-size: 1.4rem;
}

.card-main-table .table-function {
  margin-top: -4.3rem;
}

.card-main-table .table-function .ant-input-number {
  padding: 0.4rem;
  color: #03031d;
  width: 4.8rem;
  border: 1px solid #61C6E9;
  border-radius: 4px;
  margin: 0 8px;
}

.card-main-table .table-function .ant-input-number-handler-wrap {
  display: none;
}

.card-main-table .table-function .ant-input-number-input {
  padding: 0;
  color: #000000;
  font-weight: 500;
  text-align: center;
}

.card-main-table .table-function .ant-input-number-input::-webkit-inner-spin-button, .card-main-table .table-function .ant-input-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card-main-table .pagesize--show, .card-main-table .pagesize--entries {
  color: #61C6E9;
  font-size: 1.2rem;
}

.main-table {
  height: 100%;
}

.main-table .ant-spin-nested-loading {
  height: 100%;
}

.main-table .ant-spin-nested-loading .ant-spin-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-table .ant-table-thead > tr > th {
  color: #000000;
  background: #F1F4F8;
  font-weight: 500;
}

.main-table .ant-table-tbody > tr > td,
.main-table .ant-table-thead > tr > th {
  padding: 1.2rem 0.8rem;
}

.main-table .ant-table {
  color: #000000;
}

.main-table tr.ant-table-row:nth-child(even) {
  background: #F8FCFF;
}

.main-table .ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 0.8rem;
}

.main-table .ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 0.8rem;
}

.main-table .ant-table-tbody > tr.ant-table-row:last-child > td:first-child {
  border-bottom-left-radius: 0.8rem;
}

.main-table .ant-table-tbody > tr.ant-table-row:last-child > td:last-child {
  border-bottom-right-radius: 0.8rem;
}

.main-table .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  background-color: transparent;
}

.main-table .ant-pagination-item {
  border: none;
}

.main-table li.ant-pagination-item {
  color: #000000;
}

.main-table li.ant-pagination-item-active {
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #61C6E9;
  color: #000000;
}

.main-table .ant-pagination-disabled .ant-pagination-item-link {
  color: #61C6E9;
  border-color: transparent;
}

.main-table .ant-pagination-prev .ant-pagination-item-link,
.main-table .ant-pagination-next .ant-pagination-item-link {
  border-color: transparent;
}

.main-table .ant-pagination-next .ant-pagination-item-link {
  background-color: #ffffff;
  color: #61C6E9;
}

.main-table .icon-edit {
  color: #61C6E9;
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2.4rem;
}

.main-table .ant-pagination-item {
  font-family: "Montserrat";
}

.main-table .ant-pagination-options-size-changer.ant-select {
  display: none;
}

.main-table .ant-table-summary .ant-typography {
  color: #61C6E9;
  font-size: 1.4rem;
}

.main-table .ant-table-summary .ant-table-cell {
  border-bottom: none;
}

.main-table .ant-badge-not-a-wrapper {
  width: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-table .ant-table-selection-col {
  width: 4.5rem;
}

.main-table .ant-table-tbody > tr.ant-table-row-selected > td {
  background-color: #61C6E988;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #c8c8c8;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #61C6E9;
}

@use "variable";
.main-modal .ant-modal-content,
.main-modal .ant-modal-header {
  border-radius: 1.6rem;
}

.main-modal .ant-modal-body {
  padding: 1rem 4rem;
}

.main-modal .ant-modal-header {
  border: none;
  padding: 0 4rem 0;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  vertical-align: middle;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-modal .ant-modal-title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #61C6E9;
}

.main-modal .ant-modal-footer {
  border-top: none;
  padding: 3rem 0;
  text-align: center;
}

@use "variable";
@use "mixin";
.ant-checkbox-inner {
  width: 2.4rem;
  height: 2.4rem;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #61C6E9;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ant-checkbox-inner:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ant-checkbox-inner:hover {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ant-checkbox-inner::after {
  left: 26%;
  width: 7px;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #61C6E9;
  border: none;
}

.ant-checkbox-checked:hover .ant-checkbox-checked::after {
  border: none;
}

.ant-checkbox-checked::after {
  border: none;
}

.ant-checkbox-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6c7585;
}

.ant-checkbox-wrapper .ant-checkbox {
  top: 0;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #61C6E9;
  color: #ffffff;
}

.ant-checkbox-checked .ant-checkbox-inner {
  border-width: 1px;
  border-radius: 5px;
}

.ant-checkbox-inner::after {
  top: 46%;
  height: 1.2rem;
}

.ant-checkbox-indeterminate .ant-checkbox-inner {
  border-color: #61C6E9;
  border-width: 1px;
  border-radius: 5px;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: #61C6E9;
}

.ant-radio-inner {
  width: 2.4rem;
  height: 2.4rem;
  border-color: #61C6E9;
}

.ant-radio-inner::after {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #61C6E9;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #61C6E9;
}

@use "variable";
.dropdown-menu {
  background-color: #5e5b6a;
  border-radius: 5px;
  padding: 5px 0;
  border: 1px solid #61C6E9;
}

.dropdown-menu .status {
  color: #afaeae;
  padding: 3px 10px;
  cursor: pointer;
  width: 15rem;
}

.dropdown-menu .status:hover {
  background-color: #8f8d97;
  color: #ffffff;
}

.dropdown-menu .active {
  background-color: #8f8d97;
  color: #ffffff;
}

.dropdown-menu a:not([href]):not([tabindex]) {
  color: #afaeae;
}

.dropdown-menu .ant-dropdown-menu-item:hover,
.dropdown-menu .ant-dropdown-menu-submenu-title:hover {
  background-color: #8f8d97;
}

.dropdown-menu a:not([href]):not([tabindex]):focus,
.dropdown-menu a:not([href]):not([tabindex]):hover {
  color: #4F4C4D;
}

.ant-dropdown-placement-bottomCenter > .ant-dropdown-arrow,
.ant-dropdown-placement-bottomLeft > .ant-dropdown-arrow,
.ant-dropdown-placement-bottomRight > .ant-dropdown-arrow {
  border-top-color: #5e5b6a;
  border-left-color: #5e5b6a;
}

.ant-dropdown-placement-topCenter > .ant-dropdown-arrow,
.ant-dropdown-placement-topLeft > .ant-dropdown-arrow,
.ant-dropdown-placement-topRight > .ant-dropdown-arrow {
  border-right-color: #5e5b6a;
  border-bottom-color: #5e5b6a;
}

.ant-dropdown-menu-item {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #61C6E988;
}

.ant-dropdown-menu-item:hover {
  color: #61C6E9;
  background-color: #61C6E988;
}

.ant-dropdown-menu {
  padding: 0;
  border-radius: 3px;
}

@use "variable";
.ant-notification-notice {
  padding: 0;
}

.ant-notification-hook-holder,
.ant-notification-notice {
  background-color: #3e3e5b;
}

.ant-notification.ant-notification-topRight {
  color: #ffffff;
}

.ant-notification-notice-message {
  color: #ffffff;
  background-color: #61C6E9;
  padding: 1.4rem 4rem;
}

.ant-notification-notice-content,
.ant-notification-hook-holder,
.ant-notification-notice {
  border-radius: 1rem;
}

.ant-notification-notice-description {
  padding: 3rem 4rem 3.5rem;
}

span.anticon.anticon-close.ant-notification-close-icon {
  vertical-align: 0;
}

.ant-notification-notice-description {
  color: #4F4C4D;
  text-align: center;
}

.ant-notification-notice-message {
  text-align: center;
}

.ant-notification-notice-closable .ant-notification-notice-message {
  padding-right: 4rem;
}

span.anticon.anticon-check-circle.ant-notification-notice-icon.ant-notification-notice-icon-success {
  display: none;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
  margin-left: 0;
}

.ant-notification-notice-with-icon .ant-notification-notice-description {
  margin-left: 0;
}

@use "variable";
.ant-modal-confirm .ant-modal-body span.anticon.anticon-exclamation-circle {
  display: none;
}

.ant-modal-confirm .ant-modal-body .anticon.ant-notification-notice-icon-error {
  display: none;
}

.ant-notification .anticon-close-circle {
  display: none;
}

@use "variable";
.ant-select.ant-select-multiple.ant-select-show-search .ant-select-selector {
  min-height: 4rem;
  height: auto;
  background: transparent !important;
  color: #4F4C4D;
}

.ant-select-selection-overflow-item .ant-select-selection-item {
  background: #61C6E9;
  border-color: #f5f5f5;
}

.ant-select-selection-overflow-item .ant-select-selection-item-remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4F4C4D;
}

.ant-select-selection-overflow-item .ant-select-item-option-selected:not(.ant-select-item-option-disabled) .ant-select-item-option-state {
  color: #4F4C4D;
}

.ant-select-selection-overflow-item .ant-select-dropdown {
  border-radius: 8px;
  background-color: #61C6E988;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #61C6E988;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #61C6E988;
}

.main-tab .ant-tabs-nav {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

.main-tab .ant-tabs-nav-list {
  background: #ffffff;
  border-radius: 6px;
}

.main-tab .ant-tabs-tab {
  padding: 0.8rem 0;
  color: #53595F;
  margin: 0 3.2rem;
  font-size: 1.4rem;
}

.main-tab .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #61C6E9;
  font-weight: 500;
}

.main-tab .ant-tabs-ink-bar {
  background: #61C6E9;
}

.main-list .padding-here {
  padding: 1.5rem 3rem;
}

.main-list .ant-table-pagination.ant-pagination {
  margin-top: 4rem;
  margin-bottom: 8px;
  margin-right: 2rem;
}

.main-list .ant-pagination-item,
.main-list .ant-pagination-item a {
  background-color: transparent;
  border: none;
  color: #61C6E9;
}

.main-list .ant-pagination-item a {
  padding: 0;
}

.main-list .ant-pagination-item {
  min-width: 2rem;
}

.main-list .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
.main-list .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
  color: #61C6E9;
}

.main-list .ant-pagination-prev .ant-pagination-item-link,
.main-list .ant-pagination-next .ant-pagination-item-link {
  background-color: transparent;
  border: none;
  color: #61C6E9;
}

.main-list .ant-pagination-options {
  display: none;
}

.main-list .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
.main-list .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
  color: #61C6E9;
}

.main-list .ant-pagination-item {
  font-family: "Montserrat";
}

.main-list .ant-pagination-item.ant-pagination-item-active,
.main-list .ant-pagination-item.ant-pagination-item-active a,
.main-list .ant-pagination-item.ant-pagination-item-active a:not([href]):not([tabindex]):focus,
.main-list .ant-pagination-item.ant-pagination-item-active a:not([href]):not([tabindex]):hover {
  font-weight: 700;
  font-size: 1.4rem;
}

.main-list .ant-pagination-item.ant-pagination-item-active a {
  width: 2.6rem;
  height: 2.6rem;
  background: #61C6E9;
  border-radius: 4px;
  color: #ffffff;
}

@use "variable";
.main-tabs .ant-tabs .ant-tabs-nav::before {
  border-bottom: none !important;
}

.main-tabs .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab + .ant-tabs-tab {
  margin-left: -3.3rem;
}

.main-tabs .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
  border: 1px solid #61C6E9;
  border-radius: 2.4rem;
  padding: 7px 0;
  width: 25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-tabs .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn {
  color: #4F4C4D;
  opacity: 0.7;
  font-size: 1.6rem;
}

.main-tabs .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab #rc-tabs-0-tab-2 {
  padding-left: 2.7rem;
}

.main-tabs .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab-active {
  background-color: transparent;
}

.main-tabs .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab-active .ant-tabs-tab-btn {
  opacity: 1;
  font-weight: 500;
  font-size: 1.6rem;
}

.main-tabs .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab-active #rc-tabs-0-tab-2 {
  padding-right: 2.7rem;
}

.main-tabs .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-ink-bar,
.main-tabs .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-ink-bar-animated {
  display: none;
}

@use "variable";
@use "mixin";
.main-card {
  background: #ffffff;
  padding: 1.6rem 2.4rem;
  border-radius: 1.2rem;
  width: 100%;
}

.main-card h3.card-title {
  font-weight: 500;
  font-size: 2rem;
  color: #61C6E9;
  margin-bottom: 1.6rem;
  max-width: 90%;
}

.text-main-bold {
  font-weight: 600;
  font-size: 1.8rem;
}

.text {
  font-weight: 500;
  font-size: 1.6rem;
}

.alta-calendar .ant-picker-input input {
  display: none;
}

.cricle-charts .total {
  font-size: 2.4rem;
  font-weight: 700;
}

.cricle-charts .warp-piechart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.cricle-charts .piechart {
  text-align: center;
  width: 246px;
}

.--blue {
  background: #4F75FF;
}

.--organe {
  background: #FF993C;
}

.warp-note .note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.warp-note .note .ticket {
  margin-right: 8px;
  height: 20px;
  border-radius: 4px;
  width: 40px;
  display: inline-block;
}

@use "variable";
.circle-label {
  color: #03031D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle-label .circle-status {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 7px;
}

.circle-label .circle-new {
  background-color: #18e306;
}

.circle-label .circle-time-left {
  background-color: #347aff;
}

.circle-label .circle-expired {
  background-color: #878890;
}

.circle-label .circle-cancel {
  background-color: #ff4747;
}

.circle-label .icon-disable {
  color: #878890;
  cursor: not-allowed;
}

@use "variable";
.main-form {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: left;
}

.main-form .ant-picker {
  border-radius: 6px;
  padding: 0.9rem 1.6rem;
  width: 100%;
}

.main-form .ant-form-item-explain.ant-form-item-explain-error {
  color: #61C6E9;
  text-transform: lowercase;
  display: inline-block;
}

.main-form .ant-form-item-explain.ant-form-item-explain-error::first-letter {
  text-transform: uppercase;
}

.main-form .ant-radio {
  top: 0.4em;
}

.main-form .form-note {
  font-size: 1.2rem;
  color: #6c7585;
}

.main-form .form-note::before {
  display: inline-block;
  margin-right: 4px;
  color: #61C6E9;
  font-size: 1.4rem;
  line-height: 1;
  content: '*';
}

.main-form .ant-form-item {
  margin-bottom: 1.6rem;
}

.main-form .ant-form-item-label {
  text-align: left;
}

.main-form .main-title {
  text-align: center;
  color: #61C6E9;
  font-size: 4.8rem;
  font-weight: 500;
  margin-bottom: 4.8rem;
  margin-top: 2.0rem;
}

.main-form .content-form {
  width: 41rem;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 2rem;
}

.main-form .ant-input-number-input {
  padding: 0;
  height: auto;
}

.main-form .ant-input-number {
  width: 100%;
}

.main-form .ant-input-number .ant-input-number-handler-wrap {
  display: none;
}

.main-form .ant-picker-large,
.main-form .ant-input-number,
.main-form .ant-input,
.main-form .ant-input-affix-wrapper {
  font-size: 1.4rem;
  border-radius: 6px;
  padding: 0.9rem 1.6rem;
  color: #03031d !important;
}

.main-form .ant-input:focus,
.main-form .ant-input:hover,
.main-form .ant-input:left,
.main-form .ant-input-focused {
  border-color: #61C6E9;
  -webkit-box-shadow: 0 0 0 2px #61C6E988;
          box-shadow: 0 0 0 2px #61C6E988;
  border-right-width: 1px;
  outline: 0;
}

.main-form .ant-picker-large {
  width: 100%;
}

.main-form .ant-form-item-label > label {
  color: #61C6E9;
  font-weight: 700;
  font-size: 1.6rem;
}

.main-form .ant-input-affix-wrapper .ant-input-password-icon {
  color: #61C6E9;
  height: 1.6rem;
  width: 2.16rem;
}

.main-form .remember__checkbox {
  color: #6c7585;
  margin-bottom: 1.6rem;
}

.main-form .ant-input-disabled {
  background: #e9e9e9;
}

.main-form .reCaptcha__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3.2rem 0;
}

.main-form .error-status {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main-form .error-status p {
  margin-bottom: 0;
}

.main-form .error-status span {
  margin-right: 1rem;
}

.main-form .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #656568;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  background-color: #ffffff;
}

.main-form .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 4.4rem;
}

.main-form .ant-select-single .ant-select-selector .ant-select-selection-item,
.main-form .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  line-height: 4.1rem;
}

.main-form .ant-select-arrow {
  color: #61C6E9;
}

.main-form .ant-select-arrow svg {
  width: 1.2rem;
  height: 1.2rem;
}

.main-form .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  content: none;
  line-height: 0;
}

label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-right: .4rem;
  color: red;
  font-size: 1.4rem;
  line-height: 1;
  content: '*';
}

.ant-form-item-explain.ant-form-item-explain-error div {
  color: #ffffff;
  text-transform: lowercase;
  display: inline-block;
}

.ant-form-item-explain.ant-form-item-explain-error div::first-letter {
  text-transform: uppercase;
}

@use "variable";
@use "mixin";
.change-volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1.4rem;
  width: 38rem;
  background-color: #f5f5f5;
  border-radius: 6px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.change-volume .ant-slider {
  width: 26.7rem;
  margin-left: 1.9rem;
  margin-right: 1.4rem;
}

.change-volume .ant-slider .ant-slider-handle {
  width: 1rem;
  height: 2.4rem;
  border-radius: .6rem;
  background-color: #61C6E9;
  margin-top: -1rem;
  z-index: 3;
}

.change-volume .ant-slider .ant-slider-track {
  background-color: #61C6E9;
  z-index: 2;
}

.change-volume .ant-slider .ant-slider-step {
  background: #1C1C1E;
  border-radius: 4px;
  z-index: 1;
}

.change-volume p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #000000;
}

.center-loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.main-tab .ant-tabs-nav {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

.main-tab .ant-tabs-nav-list {
  background: #ffffff;
  border-radius: 6px;
}

.main-tab .ant-tabs-tab {
  padding: 0.8rem 0;
  color: #53595F;
  margin: 0 3.2rem;
  font-size: 1.4rem;
}

.main-tab .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #61C6E9;
  font-weight: 500;
}

.main-tab .ant-tabs-ink-bar {
  background: #61C6E9;
}

@use "variable";
@use "mixin";
.right-card {
  background: #ffffff;
  padding: 1.6rem 2.4rem;
  border-radius: 1.2rem;
  width: 40%;
  float: right;
  margin-left: 24px;
}

.anticon {
  vertical-align: 0;
}

textarea.ant-input {
  background-color: #2b2b3f;
  color: white;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-color: #727288 !important;
  padding: 12px 24px 12px 16px;
}

textarea.ant-input:focus {
  border-color: #727288;
  -webkit-box-shadow: none;
          box-shadow: none;
}

textarea.ant-input::-webkit-input-placeholder {
  color: #727288;
}

textarea.ant-input:-ms-input-placeholder {
  color: #727288;
}

textarea.ant-input::-ms-input-placeholder {
  color: #727288;
}

textarea.ant-input::placeholder {
  color: #727288;
}

.table-icon {
  margin: 0 4px;
}

.table-icon svg {
  width: 4px;
  height: 4px;
  color: #347aff;
  background: #347aff;
  border-radius: 25px;
}

.text-color {
  color: rgba(255, 255, 255, 0.8);
}
/*# sourceMappingURL=style_index.css.map */